.avocado_een{fill:#231F20;}
.avocado_zeven{fill:#788287;}
.avocado_acht{fill:#A3AEB5;}
.avocado_zeventien{fill:#CC4121;}
.st0{fill:#EAD13F;}
.st1{fill:#E0A838;}
.st2{fill:#FFFAEE;}
.st3{fill:#DBD2C1;}
.st4{fill:#3D3935;}
.st5{fill:#6F9B45;}
.st6{fill:#E598A3;}
.st7{fill:#D36781;}
.st8{fill:#8D3E93;}
.st9{fill:#BF63C1;}
.st10{fill:#AF9480;}
.st11{fill:#716558;}
.st12{fill:#0E608E;}
.st13{fill:#248EBC;}
.st14{fill:#D1712A;}
.st15{fill:#C3CC6A;}
.st16{fill:#0B1719;}